<div>
    <div class="bootstrap-wrapper">
        <div class="navbar">
            <div class="col-md-10 col-8" style="align-self: center;display: flex;align-items: center;">
                <img src="./assets/logo-1000pagos.png" alt="" width="15%" style="min-width: 170px;cursor: pointer"
                    routerLink="/inicio">
            </div>

            <div class="col-md-2 col-4 text-right" *ngIf="isLoggedIn">
                <button mat-raised-button [matMenuTriggerFor]="menu">
                    <mat-icon>
                        account_circle
                    </mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <div class="p10 text-right">
                        <span class="mr10">{{user.username}}</span>
                    </div>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>logout</mat-icon>
                        <span>Cerrar Sesión</span>
                    </button>
                </mat-menu>
            </div>

            <!-- <div class="col-md-2 col-4 text-center" *ngIf="isLoggedIn">
                <button mat-mini-fab (click)="logout()" color="primary">
                    <mat-icon mat-list-icon>logout</mat-icon>
                </button>
            </div> -->

        </div>
    </div>

    <router-outlet></router-outlet>
</div>