<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-8 offset-md-2">
                <mat-card>
                    <button mat-raised-button color="primary" routerLink="/validar-pago" class="w100">
                        <mat-icon mat-icon-button>assignment_turned_in</mat-icon> Validar Pago
                    </button>

                    <button mat-raised-button color="primary" routerLink="/listar-movimientos" class="w100 mt20">
                        <mat-icon mat-icon-button>assignment</mat-icon> Listar Movimientos
                    </button>

                    <button mat-raised-button color="primary" routerLink="/generar-csv" class="w100 mt20">
                        <mat-icon mat-icon-button>archive</mat-icon> Generar CSV
                    </button>

                </mat-card>
            </div>
        </div>
    </div>
</div>